<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zx.zxtvsettings">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:configChanges="keyboard|keyboardHidden|navigation"
        android:name="android.support.multidex.MultiDexApplication"
        >
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.NetSetting"
                  android:taskAffinity="com.zx.zxtvsettings"
                  android:launchMode="singleInstance"
                  android:excludeFromRecents="true"
                  android:noHistory="true"
                  android:exported="true">

        </activity>

        <activity android:name=".activity.EthernetActvity"></activity>
        <activity android:name=".activity.WifiActivity"></activity>
        <activity android:name=".activity.WIfiApActivity"></activity>
        <activity android:name=".activity.BluethoothActivityNew"></activity>

        <activity android:name=".bluetooth.BluetoothPairingDialog"
                  android:label="@string/bluetooth_pairing_request"
                  android:excludeFromRecents="true"
                  android:theme="@android:style/Theme.Material.Light.Dialog.Alert">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".bluetooth.BluetoothPairingRequest">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST" />
                <action android:name="android.bluetooth.device.action.PAIRING_CANCEL" />
                <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.SpeedTestActivity"></activity>
        <activity android:name=".activity.AppUninstallActivity"></activity>
        <activity android:name=".activity.AboutActivity"></activity>
        <activity android:name=".activity.ClearGarbageActivity"></activity>
        <activity android:name=".activity.DisplayModeActivity"></activity>

        <activity android:name=".wifi.WifiConnectDailogActivity"
                  android:theme="@style/PlatformDialog"
                  android:launchMode="singleInstance"
                  android:excludeFromRecents="true"
                  android:noHistory="true">

            <intent-filter>
                <category android:name="android.intent.category.INFO" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.zx.wifi.connecter.action.CONNECT_OR_EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>